:root {
  --heading-color: #34313d;
  --purple: #3a3054;
  --purple-lighter: #4b3f6b;
  --light-bg: #eff1f7;
  --dark-bg: #232127;
  --skyblue: #2bd0d0;
  --text-color: #9e9aa8;
  --red: #F46363;
}
/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*:focus {
  outline: 2px dotted orchid;
  outline-offset: 2px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  background-color: #fff;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* BUTTONS */
.button {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  border: 0;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: var(--skyblue);
  white-space: nowrap;
}

.button:hover {
  opacity: 0.6;
}

.button--small {
  padding: 9px 23px;
  font-size: 15px;
  line-height: 22.5px;
  border-radius: 28px;
}

.button--big {
  margin: 0;
  padding: 14px 40px 12px;
  border-radius: 28px;
  font-size: 20px;
  line-height: 30px;
}

.button--regtangle-big {
  padding: 18px 40px 16px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 30px;
}

.button--regtangle-small {
  padding: 8px 30px 8px;
  border-radius: 5px;
  font-size: 15px;
  line-height: 22.5px;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* PLACEHOLDER STYLES */
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgb(52, 49, 61, 0.5);
  opacity: 1;
}

/* AUTOFILL COLOR STYLES */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1110px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

/* SITE-HEADER */
.site-header {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
  font-weight: 700;
  line-height: normal;
}
.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__logo {
  margin-right: 50px;
}

/* LOGO */
.logo {
  display: inline-block;
}

.logo:hover {
  opacity: 0.8;
}

.logo__img {
  display: block;
  width: 120px;
  height: 32px;
  object-fit: contain;
}

/* SITENAV */
.site-header__sitenav {
  margin-right: 45px;
}

.sitenav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item {
  line-height: 22px;
}

.sitenav__item:not(:last-child) {
  margin-right: 26px;
}

.sitenav__link {
  display: block;
  color: var(--text-color);
  text-decoration: none;
}

.sitenav__link:hover {
  color: var(--heading-color);
}

/* AUTH */
.site-header__auth {
  align-items: center;
  margin-right: -40px;
  margin-left: auto;
}

.site-header__login-link {
  margin-right: 38px;
  color: var(--text-color);
  text-decoration: none;
}

.site-header__login-link:hover {
  color: var(--heading-color);
}

/* HERO */
.hero {
  padding-top: 95px;
  padding-bottom: 222px;
  background-image: url("../img/working_with_computer.svg");
  background-repeat: no-repeat;
  background-position: left calc(50% + 430px) top 35px;
}

.hero__inner {
  max-width: 565px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: -2px;
  color: var(--heading-color);
}

.hero__text {
  margin-top: 0;
  margin-bottom: 38px;
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: var(--text-color);
}


/* index-url-shortener-features-wrapper */

.index-url-shortener-features-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--light-bg);
}

.index-url-shortener-features-wrapper__url-shortener {
  margin-top: -84px;
}

/* URL Shortener */
.url-shortener__form {
  display: flex;
  width: 1110px;
  padding: 52px 64px;
  border-radius: 10px;
  background-color: var(--purple-lighter);
  background-image: url("../img/purple-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.url-shortener__input-wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-right: 24px;
}
.url-shortener__input {
  display: block;
  flex-grow: 1;
  width: 100%;
  margin: 0;
  padding: 12px 27px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: var(--heading-color);
  border: 3px solid transparent;
}

.url-shortener__input:focus {
  outline: none;
}

.url-shortener__input:not(:focus):not(:placeholder-shown):invalid {
  border-color: var(--red);
  color: rgb(244, 99, 99, 0.5);
}

.url-shortener__error-msg {
  display: none;
}

.url-shortener__input:not(:focus):not(:placeholder-shown):invalid ~ .url-shortener__error-msg {
  display: block;
  position: absolute;
  bottom: -28px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.11px;
  font-style: italic;
  margin-top: 8px;
  color: var(--red);
}

.btn-reg-text {
  margin-right: 5px;
}

/* URL-RESULTS */
.url-shortener__results {
  display: none;
  margin-top: 24px;
}

.url-shortener__results--open {
  display: block;
}

.url-shortener__result {
  display: flex;
  align-items: center;
  width: 1110px;
  padding: 16px 24px 18px 30px;
  border-radius: 5px;
  background-color: #fff;
}

.url-shortener__result:not(:last-child) {
  margin-bottom: 16px;
}

.url-shortener__original-link {
  flex-grow: 1;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: var(--heading-color);
}
.url-shortener__short-link {
  margin-right: 26px;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: var(--skyblue);
  text-decoration: none;
}

.btn-black {
  width: 103px;
  text-align: center;
  margin-right: 2px;
  padding: 10px 21px 7px;
  background-color: var(--purple);
}

.index-features {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--light-bg);
}

.index-features__top {
  max-width: 540px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.index-title {
  margin-top: 0;
  margin-bottom: 18px;
  margin-right: -30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  color: var(--heading-color);
}

.index-features__top-info {
  margin: 0;
  margin-right: -32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.12px;
}

/* Index-features-main */
.index-features__list {
  position: relative;
  display: flex;
  z-index: 1;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}

.index-features__list::before {
  position: absolute;
  bottom: 195px;
  width: 100%;
  height: 8px;
  z-index: -1;
  background-color: var(--skyblue);
  content: '';
}

.index-features__item {
  width: 350px;
}

.index-features__item:not(:last-child) {
  margin-right: 30px;
}

.index-features__item:nth-child(2) {
  margin-top: 44px;
}
.index-features__item:nth-child(3) {
  margin-top: 88px;
}

.index-feature {
  position: relative;
  margin-top: 0;
  padding: 77px 32px 40px 32px;
  border-radius: 5px;
  background-color: #fff;
}

.index-feature__img-inner {
  position: absolute;
  top: -44px;
  left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 33px;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: var(--purple);
}

.index-feature__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: var(--heading-color);
}

.index-feature__text {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
}

/* CTA */
.cta {
  background-image: url("../img/cta-purple-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.get-started {
  padding-top: 57px;
  padding-bottom: 57px;
  text-align: center;
}

.get-started__title {
  margin-top: 0;
  margin-left: 33px;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  color: #fff;
}

.btn-started {
  margin-left: 33px;
}

/* Site-Footer */
.site-footer {
  padding-top: 71px;
  padding-bottom: 72px;
  color: #fff;
  background-color: var(--dark-bg);
}

.site-footer__container {
  display: flex;
  align-items: flex-start;
}

.site-footer__logo {
  margin-left: -4px;
  margin-right: 30px;
}

.site-footer__menus {
  display: flex;
  margin-left: auto;
  margin-right: 100px;
}

.site-footer__menu:not(:last-child) {
  margin-right: 90px;
}

.site-footer__menu-title {
  margin-top: 0;
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
}

.site-footer__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-footer__menu-item:not(:last-child) {
  margin-bottom: 7px;
}

.site-footer__menu-link {
  color: #bfbfbf;
  font-weight: 500;
  font-size: 15px;
  line-height: 22.5px;
  letter-spacing: -0.23px;
  text-decoration: none;
  text-transform: capitalize;
}

.site-footer__menu-link:active {
  opacity: 0.6;
}

.site-footer__menu-link:hover {
  color: var(--skyblue);
}

.socials__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.socials__item:not(:last-child) {
  margin-right: 24px;
}

.socials__link {
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.socials__link:hover {
  color: var(--skyblue);
}
.socials__link:active {
  opacity: 0.6;
}

.socials__icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}